@import "/src/styles/rem";

.input-wrapper {
  width: 100%;

  mat-form-field {
    width: 100%;

    .mat-form-field-flex {
      align-items: center;
      gap: 1rem;
      padding-top: 0;
      background-color: rgba($color: #fff, $alpha: 0.45);

      input {
        font-size: rem(18px);
      }
    }
  }
}
