<div class="dialog-container">
  <img src="../../../../assets/images/logo.png" alt="logo" class="logo" />
  <button mat-icon-button class="close-button">
    <mat-icon mat-dialog-close>close</mat-icon>
  </button>
  <div fxLayout="row" fxLayoutGap="50px" fxLayoutAlign="none center">
    <img
      lazyLoad="../../../../assets/images/register.svg"
      defaultImage="https://via.placeholder.com/1000/000000/FFFFFF/?text=BSOUND"
      class="register-svg"
    />
    <div class="login-box" fxLayout="column" fxLayoutAlign="start center">
      <img src="../../../../assets/images/logo.png" alt="logo" class="logo" />
      <form [formGroup]="registerForm" (ngSubmit)="onRegister()" fxFlex="50">
        <p class="heading">
          Ready to explore more cool features in our platform ? Join use now !
        </p>
        <app-auth-input
          label="Username"
          formControlName="username"
          placeholder="Type here"
          icon="person"
        ></app-auth-input>
        <app-auth-input
          type="password"
          label="Password"
          formControlName="password"
          placeholder="Type here"
          icon="lock"
        ></app-auth-input>
        <app-auth-input
          type="password"
          label="Confirm password"
          formControlName="confirmedPassword"
          placeholder="Type here"
          icon="lock"
        ></app-auth-input>
        <button
          type="submit"
          mat-raised-button
          color="primary"
          class="login-button"
          [disabled]="!registerForm.valid"
        >
          <mat-spinner [diameter]="20" *ngIf="isRegister"></mat-spinner>
          <span>Register</span>
        </button>
      </form>
      <p class="sign-up-text">
        Have an account ? <span (click)="dialogRef.close()">Login</span>
      </p>
    </div>
  </div>
</div>
