<div class="container">
  <div class="login-box" fxLayout="column" fxLayoutAlign="start center">
    <img src="../../../../assets/images/logo.png" alt="logo" class="logo" />
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <app-auth-input
        formControlName="username"
        placeholder="Username"
        icon="person"
      ></app-auth-input>
      <app-auth-input
        type="password"
        formControlName="password"
        placeholder="Password"
        icon="lock"
      ></app-auth-input>
      <app-auth-input
        type="password"
        formControlName="confirmedPassword"
        placeholder="Confirm password"
        icon="lock"
      ></app-auth-input>
      <button
        type="submit"
        mat-raised-button
        color="primary"
        class="login-button"
      >
        Register
      </button>
    </form>
    <p class="sign-up-text">Have an account ? <a href="/">Login</a></p>
  </div>
  <div class="overlay"></div>
</div>
