@import "/src/styles/rem";
@import "/src/styles/mixin";
@import "src/styles/color";

::ng-deep {
  .mat-dialog-container {
    padding: 0;
    overflow: hidden;
  }
}

.dialog-container {
  padding: 0;
  position: relative;

  .register-svg {
    width: rem(200px);
    object-fit: contain;
  }

  .close-button {
    position: absolute;
    color: #fff;
    z-index: 10;
    font-size: rem(20px);
    top: rem(10px);
    right: rem(30px);
  }

  .logo {
    width: rem(100px);
    z-index: 10;
    object-fit: contain;
    position: absolute;
    top: rem(20px);
    left: rem(40px);
  }

  @include margin(left, 5);
  @include margin(right, 5);
  @include margin(top, 10);
  @include margin(bottom, 10);

  background-color: #000;
}

.login-box {
  z-index: 10;
  width: 100%;
  height: 100%;

  .heading {
    font-size: rem(14px);
    color: $primary-color;
    @include margin(bottom, 2);
  }

  form {
    width: 400px;
  }

  form > * {
    width: 100%;
  }

  .login-button {
    font-size: rem(18px);
    ::ng-deep {
      .mat-button-wrapper {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        gap: rem(8px);
      }

      .mat-progress-spinner circle,
      .mat-spinner circle {
        stroke: #000;
      }
    }

    &:disabled {
      background-color: $disabled-color;
    }
  }
}

.mat-raised-button {
  @include padding(top, 1);
  @include padding(bottom, 1);
}

.sign-up-text {
  margin: 0;
  font-size: rem(14px);
  text-align: center;
  color: #fff;
  position: absolute;
  bottom: rem(20px);

  span {
    font-weight: 600;
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
  }
}
