<mat-dialog-content class="dialog-container">
  <button mat-icon-button class="close-button">
    <mat-icon mat-dialog-close>close</mat-icon>
  </button>
  <img src="../../../../assets/images/logo.png" alt="logo" class="logo" />
  <div class="container">
    <div class="login-box" fxLayout="column" fxLayoutAlign="center center">
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <p class="heading">Login in now to personalize your sound !</p>
        <app-auth-input
          formControlName="username"
          placeholder="Username"
          icon="person"
          [error]="loginErrorMessage"
        ></app-auth-input>
        <app-auth-input
          type="password"
          formControlName="password"
          placeholder="Password"
          icon="lock"
          [error]="loginErrorMessage"
        ></app-auth-input>
        <button
          type="submit"
          mat-raised-button
          color="primary"
          class="login-button"
          [disabled]="!loginForm.valid"
        >
          <mat-spinner [diameter]="20" *ngIf="isLogin"></mat-spinner>
          <span>Login</span>
        </button>
      </form>
      <p class="sign-up-text">
        Have an account ? <span (click)="openRegister()">Register</span>
      </p>
    </div>
  </div>
</mat-dialog-content>
