<mat-dialog-content class="dialog-container">
  <button mat-icon-button class="close-button">
    <mat-icon mat-dialog-close>close</mat-icon>
  </button>
  <img src="../../../../assets/images/logo.png" alt="logo" class="logo" />
  <div class="container">
    <div class="login-box" fxLayout="column" fxLayoutAlign="start center">
      <div fxLayout="row" fxLayoutGap="100px">
        <form [formGroup]="form" (ngSubmit)="onSubmit()" fxFlex="50">
          <p class="heading">Login</p>
          <app-auth-input
            formControlName="username"
            placeholder="Username"
            icon="person"
          ></app-auth-input>
          <app-auth-input
            type="password"
            formControlName="password"
            placeholder="Password"
            icon="lock"
          ></app-auth-input>
          <button
            type="submit"
            mat-raised-button
            color="primary"
            class="login-button"
            (click)="onLogin()"
          >
            Login
          </button>
        </form>
        <form [formGroup]="form" (ngSubmit)="onSubmit()" fxFlex="50">
          <p class="heading">Register</p>
          <app-auth-input
            formControlName="username"
            placeholder="Username"
            icon="person"
          ></app-auth-input>
          <app-auth-input
            type="password"
            formControlName="password"
            placeholder="Password"
            icon="lock"
          ></app-auth-input>
          <app-auth-input
            type="password"
            formControlName="confirmedPassword"
            placeholder="Confirm password"
            icon="lock"
          ></app-auth-input>
          <button
            type="submit"
            mat-raised-button
            color="primary"
            class="login-button"
          >
            Register
          </button>
        </form>
      </div>
    </div>
  </div>
</mat-dialog-content>
