@import "variables";
@import "mixin";
@import "rem";
@import "font";
@import "color";

body {
  background-color: $background-color;
  color: white;
  font-size: 20px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.mat-tooltip {
  background: #000;
  font-size: rem(16px);
  @include padding(top, 1);
  @include padding(bottom, 1);
  @include padding(left, 2);
  @include padding(right, 2);
}
