@import "~@angular/material/theming";
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
@include mat-core();

$background-color: #303030;

$primary: mat-palette($mat-yellow, 300);
$accent: mat-palette($mat-orange, 200);
$theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);
