@import "../../../../styles/mixin";
@import "../../../../styles/rem";
@import "../../../../styles/color";

.container {
  .message {
    font-size: rem(16px);
  }

  .success-icon {
    color: $success-color;
  }

  .error-icon {
    color: $error-color;
  }
}
