<app-loader
  [loading]="isLoading"
  *ngIf="isLoading"
  type="dots"
  message="Loading sound"
  fxLayout="row"
  fxLayoutAlign="center center"
></app-loader>
<div
  class="background"
  *ngIf="sound"
  [ngStyle]="{ 'background-image': 'url(' + sound.image + ')' }"
>
  <div class="overlay" fxLayout="column" fxLayoutAlign="center center">
    <img [src]="sound.image" class="circle-image" />
    <h3>{{ sound.name }}</h3>
    <audio controls [loop]="options.isRepeating" #audio>
      <source [src]="sound.audio" />
    </audio>
    <app-sound-options
      class="options"
      #options
      [disabled]="false"
    ></app-sound-options>
  </div>
</div>
