<app-loader
  [loading]="isLoading"
  *ngIf="isLoading"
  type="dots"
  message="Loading sound"
  fxLayout="row"
  fxLayoutAlign="center center"
></app-loader>
<div
  class="background"
  *ngIf="sound"
  [ngStyle]="{ 'background-image': 'url(' + sound.image + ')' }"
>
  <button
    mat-mini-fab
    class="back-button"
    (click)="location.back()"
    *ngIf="!isHideGoBackButton"
  >
    <mat-icon>arrow_back</mat-icon>
  </button>
  <div class="overlay" fxLayout="column" fxLayoutAlign="center center">
    <img [src]="sound.image" class="circle-image" />
    <h3>{{ sound.name }}</h3>
    <audio
      muted
      controls
      controlsList="nodownload"
      [loop]="options.isRepeating"
      autoplay=""
      #audio
    >
      <source [src]="sound.audio" />
    </audio>
    <app-sound-options
      class="options"
      [id]="soundId"
      [loop]="isLoop"
      [audioConfigs]="customAudios"
      #options
      [disabled]="false"
    ></app-sound-options>
  </div>
</div>
