<div fxLayout="column" fxLayoutGap="16px" class="wrapper">
  <app-option-button
    [disabled]="!isSavable || isSavingConfiguration"
    tooltipMessage="Save configuration"
    (onClick)="onSaveConfiguration()"
    icon="save"
  >
  </app-option-button>
  <app-option-button
    [disabled]="disabled"
    [tooltipMessage]="endTime ? endTime + ' minutes' : 'Timer'"
    [color]="endTime ? 'primary' : 'default'"
    (onClick)="onSetTime()"
    icon="timer"
  >
  </app-option-button>
  <app-option-button
    [disabled]="disabled"
    [tooltipMessage]="isRepeating ? 'No repeat' : 'Repeat'"
    [color]="isRepeating ? 'primary' : 'default'"
    (onClick)="onRepeat()"
    icon="repeat"
  >
  </app-option-button>
  <app-option-button
    [disabled]="disabled"
    [tooltipMessage]="getSoundTooltip('Mediation bell', 'bell')"
    [color]="getTimer('bell') ? 'primary' : ''"
    (onClick)="onClickSound('../../../../assets/audios/bell.mp3')"
    icon="notifications"
  >
  </app-option-button>
  <app-option-button
    [disabled]="disabled"
    [tooltipMessage]="getSoundTooltip('Mediation water', 'water')"
    [color]="getTimer('water') ? 'primary' : ''"
    (onClick)="onClickSound('../../../../assets/audios/water.mp3')"
    icon="water_drop"
  >
  </app-option-button>
  <app-option-button
    [disabled]="disabled"
    [tooltipMessage]="getSoundTooltip('Birds sing', 'bird')"
    [color]="getTimer('bird') ? 'primary' : ''"
    (onClick)="onClickSound('../../../../assets/audios/bird.mp3')"
    icon="music_note"
  >
  </app-option-button>
  <app-option-button
    [disabled]="disabled"
    [tooltipMessage]="getSoundTooltip('Thunder', 'thunder')"
    [color]="getTimer('thunder') ? 'primary' : ''"
    (onClick)="onClickSound('../../../../assets/audios/thunder.mp3')"
    icon="bolt"
  >
  </app-option-button>
  <app-option-button
    [disabled]="disabled"
    [tooltipMessage]="getSoundTooltip('Sea waves', 'waves')"
    [color]="getTimer('waves') ? 'primary' : ''"
    (onClick)="onClickSound('../../../../assets/audios/waves.mp3')"
    icon="waves"
  >
  </app-option-button>
  <app-option-button
    [disabled]="disabled"
    [tooltipMessage]="getSoundTooltip('Wind howl', 'wind')"
    [color]="getTimer('wind') ? 'primary' : ''"
    (onClick)="onClickSound('../../../../assets/audios/wind.mp3')"
    icon="air"
  >
  </app-option-button>
</div>
